---
Checks: "*,-llvmlibc-implementation-in-namespace,-llvmlibc-restrict-system-libc-headers,-modernize-use-trailing-return-type,-modernize-pass-by-value,-readability-identifier-length,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,-llvmlibc-callee-namespace,-hicpp-avoid-c-arrays,-cppcoreguidelines-avoid-c-arrays,-modernize-avoid-c-arrays,-cppcoreguidelines-pro-bounds-constant-array-index,-google-readability-casting,-misc-const-correctness, -google-default-arguments,-fuchsia-default-arguments-declarations,-fuchsia-default-arguments-calls,-hicpp-use-emplace,-modernize-use-emplace,-modernize-return-braced-init-list,-google-build-using-namespace,-readability-function-cognitive-complexity,-google-readability-todo,-altera-unroll-loops,-altera-id-dependent-backward-branch,-bugprone-easily-swappable-parameters,-fuchsia-statically-constructed-objects,-cppcoreguidelines-avoid-do-while,-cppcoreguidelines-pro-type-reinterpret-cast,-performance-enum-size,-fuchsia-overloaded-operator"
WarningsAsErrors: "*"
FormatStyle: none
CheckOptions:
  -key: readability-implicit-bool-conversion.AllowPointerConditions
  value: true

